*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(250, 248, 246, 1);
    font-family: 'Epilogue', sans-serif;
}
.tablet-phone-img,.jeremy-desktop{
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 56px 16px;
}
header button{
    padding: 12px 16.5px 12px 16.5px;
    color: rgba(23, 35, 57, 1);
    background: rgba(250, 248, 246, 1);
    border-color: rgba(23, 35, 57, 1);
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: -0.14000000059604645px;
}
header button:hover{
    cursor: pointer;
    transition: 0.3s;
    background: rgba(23, 35, 57, 1);
    color: rgba(250, 248, 246, 1);
}
.business-offer{
    position: relative;
}
.wrapper{
    padding: 0 16px 56px 16px;
}
.business-offer img{
    position: absolute;
    height: 19px;
    width: 151.47222900390625px;
    top: -5%;
}
.business-offer h1{
    width: 17ch;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.5277777910232544px;
    color: rgba(23, 35, 57, 1);
}
.business-offer span{
    font-weight: 700;
}
.business-offer p{
    width: 40ch;
    margin: 32px 0 32px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.08888889104127884px;
    color: rgba(73, 86, 109, 1);
}
.business-offer button{
    padding: 15px 31px 14px 32px;
    background: rgba(23, 35, 57, 1);
    color: rgba(250, 248, 246, 1);
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.18000000715255737px;
}
.business-offer button:hover{
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
.mobile-phone-img{
    display: flex;
    margin: 0 auto;
    margin-bottom: 56px;
}
.company-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
.company-stats h1{
    text-align: center;
    margin-bottom: 1px;
    font-size: 48px;
    font-weight: 700;
    color: rgba(23, 35, 57, 1);
}
.company-stats p{
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: rgba(73, 86, 109, 1); 
}
.qoute{
    position: relative;
    border-radius: 15px;
    padding: 0 16px 0 16px;
    background: rgba(23, 35, 57, 1);
    text-align: center;
}
.qoute-text h1{
    padding-top: 338px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.4166666567325592px;
    color: rgba(250, 248, 246, 1);    
}
.qoute-text span{
    font-weight: 700;
}
.qoute-text .curve{
    position: absolute;
    bottom: 55%;
    left: 44%;
    height: 40px;
    width: 49.26834487915039px; 
}
.jeremy{
    position: absolute;
    bottom: 70%;
    left: 20%;
    margin:0 auto;
}
.qoute-text p{
    margin: 40px 0 40px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.09000000357627869px;
    color: rgba(243, 237, 231, 1);   
}
.qoute-text h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18000000715255737px;    
    color: rgba(250, 248, 246, 1);
}
.qoute-text h3{
    padding-bottom: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: rgba(243, 237, 231, 1);    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding: 0 0 81px 0;
    background: rgba(243, 237, 231, 1);
}
footer h1{
    margin-top: 56px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4444444477558136px; 
    color: rgba(23, 35, 57, 1);
}
footer h2{
    margin: 33px 0 35px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.0833333358168602px;
    color: rgba(73, 86, 109, 1);    
}
.soc-media{
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.icon:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}
@media only screen and (min-width: 768px) {
    header{
        padding: 40px 40px 80px 39px;
    }
    .mobile-phone-img{
        position: absolute;
        display: none;
        width: 120%;
    }
    .tablet-phone-img{
        position: absolute;
        display: flex;
        right: 0;
    }
    .img-container{
        position: relative;
    }
    .business-offer{
        z-index: 1;
    }
    .wrapper{
        padding: 42px 0 0 39px;
    }
    .business-offer img {
        top: 0;
        height: 29px;
        width: 231.19444274902344px; 
    }
    .business-offer h1{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.7777777910232544px;        
    }
    .business-offer p{
        margin: 40px 0 40px 0;
    }
    .business-offer span{
        font-weight: 700;  
    }
    .wrapper{
        margin-right: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    .company-stats{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 340px 60px 0 100px;
        grid-column: span 2;
    }
    .jeremy-container{
        position: absolute;
        width: 100%;
    }
    .qoute{
        margin: 0 40px 0 39px;
        top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .qoute-text p{
        width: 55ch;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    footer h1{
        margin: 0;
    }
    footer{
        margin-top: 500px;
        padding: 560px 40px 72px 39px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1200px) {
    header{
        padding: 50px 165px 67px 166px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        padding: 0 165px 0 166px;
    }
    .company-stats{
        display: flex;
        flex-direction: column;
        grid-column: auto;
        margin-top: 100px;
        row-gap: 63px;
    }

    .business-offer h1{
        margin-top: 45px;
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
    }
    .business-offer img{
        height: 36px;
        width: 287px;
    }
    .business-offer p{
        margin-bottom: 52px;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.10000000149011612px;
    }
    .jeremy{
        display: none;
    }
    .jeremy-desktop{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 8%;
    }
    .qoute{
        top: 270px;
        text-align: left;
        margin: 0 164px 0 167px;
    }
    .qoute-text{
        margin-left: 50%;
    }
    .qoute-text h1{
        padding-top: 88px;
    }
    .qoute-text p{
        width: 33ch;
        text-align: left;
    }
    footer{
        margin-top: 520px;
        padding: 300px 165px 72px 165px;
    }
}
